<?xml version="1.0"?>
<config>
    <modules>
        <Meetanshi_PayGlocal>
            <version>1.0.0</version>
        </Meetanshi_PayGlocal>
    </modules>
    <global>
        <models>
            <payglocal>
                <class>Meetanshi_PayGlocal_Model</class>
            </payglocal>
        </models>
        <helpers>
            <payglocal>
                <class>Meetanshi_PayGlocal_Helper</class>
            </payglocal>
        </helpers>
        <blocks>
            <payglocal>
                <class>Meetanshi_PayGlocal_Block</class>
            </payglocal>
        </blocks>
    </global>
    <default>
        <payment>
            <payglocal>
                <active>0</active>
                <title>Pay Glocal</title>
                <mode>1</mode>
                <model>payglocal/standard</model>
                <order_status>pending</order_status>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
                <min_amount>200</min_amount>
            </payglocal>
        </payment>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <meetanshi_payglocal>
                    <file>payglocal.xml</file>
                </meetanshi_payglocal>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <payglocal>
                <use>standard</use>
                <args>
                    <module>Meetanshi_PayGlocal</module>
                    <frontName>payglocal</frontName>
                </args>
            </payglocal>
        </routers>
        <layout>
            <updates>
                <meetanshi_payglocal>
                    <file>payglocal.xml</file>
                </meetanshi_payglocal>
            </updates>
        </layout>
    </frontend>
</config> 
